@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
#royy:hover, #contact:hover{
  background-color: rgb(255, 255, 255);
  color:black;
  border:0.5px solid  rgb(0, 0, 255);
  margin-top:5px;
  transition:1s;
}
#about:hover{
  background-color: rgb(7, 7, 68);
  color: white;
  border:0.5px solid  rgb(255, 255, 255);
  margin:5px;
  transition:1s;

}
#box2:hover{
  background-color:  rgb(255, 255, 255);;
-webkit-box-shadow: 0px 0px 4px 2px rgb(7, 7, 68);
-moz-box-shadow: 0px 0px 4px 2px rgb(7, 7, 68);
box-shadow: 0px 0px 4px 2px rgb(7, 7, 68);
margin:2px;
transition:1s;
cursor: pointer;
}

#service:hover{
  background-color: rgb(255, 255, 255);
  color:black;
  border:0.5px solid  rgb(0, 0, 255);
  margin-top:5px;
  transition:1s;
}
#box:hover{
  background-color:  rgb(7, 7, 68);
  color: white;
-webkit-box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);
-moz-box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);
box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);
margin:2px;
cursor: pointer;
transition:1s;
}
#project:hover{
  background-color: rgb(7, 7, 68);
  color: white;
  border:0.5px solid  rgb(255, 255, 255);
  margin:5px;
  transition:1s;
}
#project h2:hover,#project p:hover{
  color:white;
}
button:hover{
margin:3px;
-webkit-box-shadow: 0px 0px 4px 2px rgb(7, 7, 68);
-moz-box-shadow: 0px 0px 4px 2px rgb(7, 7, 255);
box-shadow: 0px 0px 4px 2px rgb(7, 7, 68);
}

#project a:hover{
  font-weight: bold;
  margin:1px;
  -webkit-box-shadow: 0px 0px 1px 3px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 1px 3px rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 3px rgb(255, 255, 255);
  }
a:hover{
    cursor:pointer;
  }
button:hover{
    cursor: pointer;
}  
#skills{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin:10px;
  -webkit-box-shadow: 0px 0px 1px 3px rgb(243, 242, 242);
  -moz-box-shadow: 0px 0px 1px 3px rgb(0, 0, 0);
  box-shadow: 0px 0px 1px 3px rgb(255, 255, 255);
} 
fieldset{
  margin-inline:20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
} 



